h1 {color: rgb(255, 0, 115);
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    
}

h2, h3
     {color: rgb(76, 0, 255);
      font-family: Arial, sans-serif;
}

a {
    color: beige;
    background-color: rgb(208, 0, 255);
    font-weight: 700;
    text-decoration: none;
    padding: 12px 20px;
    margin: 16px 0;
    border: 2px rgb(157, 0, 255) solid;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    transition: 0.3s;
}
a:hover {
    background-color: rgb(0, 64, 255);

} 

img:hover {
    transform: scale(1.05);
    
}
img {
    transition: transform 0.3s ease;
}


div  {
    background-color: rgb(45, 45, 45);
    padding: 20px;
    margin: 24px auto;
    color: white;
    width: 80%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,3);
}

img {
    width: 80%;
    display: block;
    margin:auto;
    border-radius: 10px;
}
header {
    background-image: url(https://fr.web.img3.acsta.net/r_1280_720/img/15/c3/15c3ef78bf8e485aa1f9930acc2f6eab.png);
    background-size: cover;
    background-position: center;
    padding: 200px 20px;
    text-align: center;
    

 }

 header h1 {
    color: rgb(255, 255, 255);
    font-size: 120px;
    text-shadow: 0 0 10px white;
 }
 
 .container {
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    background: linear-gradient(135deg, #6a00ff, #ff00b7);
  
}
  
 